<div>
    <div class="category-nav-container">
        <div class="category-nav-title-wrapper">
            <span class="category-nav-title">全部分类</span>
            <span class="title-icon"></span>
        </div>
        <div class="category-nav-content-wrapper">
            <ul>
                <li class="nav-li">                 
                   <img src="<%= require('../../assets/images/5-menu.png') %>" class="orgin-u" alt="" srcset="">
                   <img src="<%= require('../../assets/images/5-menu-w.png')%>" class="orgin-w" alt="" srcset="">              
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">美食</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                    <img src="<%= require('../../assets/images/6-menu.png')%>" class="orgin-u"  alt="" srcset="">
                    <img src="<%= require('../../assets/images/6-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">外卖</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/7-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/7-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">酒店</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/8-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/8-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">榛果民宿</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/9-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/9-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">猫眼电影</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/10-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/10-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">机票/火车票</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/11-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/11-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">休闲娱乐/KTV</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/12-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/12-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">生活服务</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/13-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/13-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">丽人/美发/医学美容</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/14-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/14-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">结婚/婚纱摄影/婚宴</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/15-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/15-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">亲子/儿童乐园/幼教</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/16-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/16-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">运动健身/健身中心</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/17-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/17-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">家装/建材/家居</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/18-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/18-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">学习培训/音乐培训</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/19-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/19-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">医疗健康/宠物/爱车</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
                <li class="nav-li">
                        <img src="<%= require('../../assets/images/20-menu.png')%>" class="orgin-u"  alt="" srcset="">
                        <img src="<%= require('../../assets/images/20-menu-w.png')%>" class="orgin-w" alt="">
                    <span class="nav-text-wrapper">
                        <span>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link nav-text" target="_blank">酒吧/密室逃脱</a>
                        </span>
                    </span>
                    <i class="nav-right-arrow"></i>
                </li>
            </ul>
        </div>

        <div class="category-nav-detail-wrapper" style="display: none">
            <div class="category-nav-detail active">
                <div class="detail-area">
                    <div class="detail-title-wrapper clearfix">
                        <h2>
                            <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1_0&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                                class="link detail-title" target="_blank" data-query="utm_source=meituanweb">美食</a>
                        </h2>
                        <a href="http://sh.meituan.com/meishi/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:1,&quot;index&quot;:&quot;1_1_more&quot;,&quot;title&quot;:&quot;美食&quot;}}"
                            class="link detail-more" target="_blank" data-query="utm_source=meituanweb">更多
                            <i class="detail-right-arrow"></i>
                        </a>
                    </div>
                    <div class="detail-content">
                        <a href="http://sh.meituan.com/meishi/c393/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:393,&quot;index&quot;:&quot;1_1_1&quot;,&quot;title&quot;:&quot;代金券&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">代金券</a>
                        <a href="http://sh.meituan.com/meishi/c11/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:11,&quot;index&quot;:&quot;1_1_2&quot;,&quot;title&quot;:&quot;甜点饮品&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">甜点饮品</a>
                        <a href="http://sh.meituan.com/meishi/c17/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:17,&quot;index&quot;:&quot;1_1_3&quot;,&quot;title&quot;:&quot;火锅&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">火锅</a>
                        <a href="http://sh.meituan.com/meishi/c40/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:40,&quot;index&quot;:&quot;1_1_4&quot;,&quot;title&quot;:&quot;自助餐&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">自助餐</a>
                        <a href="http://sh.meituan.com/meishi/c36/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:36,&quot;index&quot;:&quot;1_1_5&quot;,&quot;title&quot;:&quot;小吃快餐&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">小吃快餐</a>
                        <a href="http://sh.meituan.com/meishi/c28/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:28,&quot;index&quot;:&quot;1_1_6&quot;,&quot;title&quot;:&quot;日韩料理&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">日韩料理</a>
                        <a href="http://sh.meituan.com/meishi/c35/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:35,&quot;index&quot;:&quot;1_1_7&quot;,&quot;title&quot;:&quot;西餐&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">西餐</a>
                        <a href="http://sh.meituan.com/meishi/c395/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:395,&quot;index&quot;:&quot;1_1_8&quot;,&quot;title&quot;:&quot;聚餐宴请&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">聚餐宴请</a>
                        <a href="http://sh.meituan.com/meishi/c54/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:54,&quot;index&quot;:&quot;1_1_9&quot;,&quot;title&quot;:&quot;烧烤烤肉&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">烧烤烤肉</a>
                        <a href="http://sh.meituan.com/meishi/c20003/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:20003,&quot;index&quot;:&quot;1_1_10&quot;,&quot;title&quot;:&quot;东北菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">东北菜</a>
                        <a href="http://sh.meituan.com/meishi/c55/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:55,&quot;index&quot;:&quot;1_1_11&quot;,&quot;title&quot;:&quot;川湘菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">川湘菜</a>
                        <a href="http://sh.meituan.com/meishi/c56/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:56,&quot;index&quot;:&quot;1_1_12&quot;,&quot;title&quot;:&quot;江浙菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">江浙菜</a>
                        <a href="http://sh.meituan.com/meishi/c20004/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:20004,&quot;index&quot;:&quot;1_1_13&quot;,&quot;title&quot;:&quot;香锅烤鱼&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">香锅烤鱼</a>
                        <a href="http://sh.meituan.com/meishi/c57/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:57,&quot;index&quot;:&quot;1_1_14&quot;,&quot;title&quot;:&quot;粤港菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">粤港菜</a>
                        <a href="http://sh.meituan.com/meishi/c400/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:400,&quot;index&quot;:&quot;1_1_15&quot;,&quot;title&quot;:&quot;中式烧烤/烤串&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">中式烧烤/烤串</a>
                        <a href="http://sh.meituan.com/meishi/c58/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:58,&quot;index&quot;:&quot;1_1_16&quot;,&quot;title&quot;:&quot;西北菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">西北菜</a>
                        <a href="http://sh.meituan.com/meishi/c41/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:41,&quot;index&quot;:&quot;1_1_17&quot;,&quot;title&quot;:&quot;咖啡酒吧茶馆&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">咖啡酒吧茶馆</a>
                        <a href="http://sh.meituan.com/meishi/c60/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:60,&quot;index&quot;:&quot;1_1_18&quot;,&quot;title&quot;:&quot;云贵菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">云贵菜</a>
                        <a href="http://sh.meituan.com/meishi/c62/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:62,&quot;index&quot;:&quot;1_1_19&quot;,&quot;title&quot;:&quot;东南亚菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">东南亚菜</a>
                        <a href="http://sh.meituan.com/meishi/c63/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:63,&quot;index&quot;:&quot;1_1_20&quot;,&quot;title&quot;:&quot;海鲜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">海鲜</a>
                        <a href="http://sh.meituan.com/meishi/c217/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:217,&quot;index&quot;:&quot;1_1_21&quot;,&quot;title&quot;:&quot;素食&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">素食</a>
                        <a href="http://sh.meituan.com/meishi/c227/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:227,&quot;index&quot;:&quot;1_1_22&quot;,&quot;title&quot;:&quot;台湾/客家菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">台湾/客家菜</a>
                        <a href="http://sh.meituan.com/meishi/c228/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:228,&quot;index&quot;:&quot;1_1_23&quot;,&quot;title&quot;:&quot;创意菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">创意菜</a>
                        <a href="http://sh.meituan.com/meishi/c229/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:229,&quot;index&quot;:&quot;1_1_24&quot;,&quot;title&quot;:&quot;汤/粥/炖菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">汤/粥/炖菜</a>
                        <a href="http://sh.meituan.com/meishi/c232/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:232,&quot;index&quot;:&quot;1_1_25&quot;,&quot;title&quot;:&quot;蒙餐&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">蒙餐</a>
                        <a href="http://sh.meituan.com/meishi/c233/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:233,&quot;index&quot;:&quot;1_1_26&quot;,&quot;title&quot;:&quot;新疆菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">新疆菜</a>
                        <a href="http://sh.meituan.com/meishi/c24/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:24,&quot;index&quot;:&quot;1_1_27&quot;,&quot;title&quot;:&quot;其他美食&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">其他美食</a>
                        <a href="http://sh.meituan.com/meishi/c59/" data-bid="b_atx2p7dc" data-lab="{&quot;custom&quot;:{&quot;cat_id&quot;:59,&quot;index&quot;:&quot;1_1_28&quot;,&quot;title&quot;:&quot;京菜鲁菜&quot;}}"
                            class="link detail-text" target="_blank" data-query="utm_source=meituanweb">京菜鲁菜</a>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>