<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header class="com-header">
        <div>                        
            <%= require('../src/components/head/head.ejs')() %>          
        </div>
    </header>
    <div class="container">
        <div class="main menu-container">
            <div class="left-banner">                     
                <%= require('../src/components/menu/menu.ejs')() %>   
            </div>
            <div class="right-banner">                   
                <%= require('../src/components/banner/banner.ejs')() %>  
            </div>
        </div>
    </div>
    <div class="main pattern-container quality-container">        
        <%= require('../src/components/pattern/pattern.ejs')() %>  
    </div>

    <div class="main  quality-container">      
        <%= require('../src/components/discount/discount.ejs')() %>  
    </div>
</body>
</html>